.comment {
  width: 500px;
  background: #fff;
  margin: 10px auto;
  padding: 20px;
}

.name {
  margin-bottom: 10px;
  width: 100%;
}

.username { 
  font-weight: bold;
}

.index {
  float: right;
  opacity: 0.5;
  font-style: italic;
}
