.form {
  width: 500px;
  margin: 20px auto;
  padding: 10px 15px;
  background: #fff;
  border-radius: 5px;
}
.form form div > * {
  width: 100%;
}
.form {
  text-align: center;
}
h1 {
  border: 10px dashed #5DADE2;
  padding: 10px 0px;
}
