<div class="login">
  <div>
    <div class="accounts">
      <div class="list">
        <ul>
          <li *ngFor="let account of accounts" (click)="toggleListAccount(account.position)" [style.opacity]="account.position == listAccount ? '1' : '0.5'"
            [style.background]="account.color">{{account.name}}</li>
        </ul>
      </div>

    </div>
    <div class="articles">
      <div class="sidebar">
        <ul>
          <li *ngFor="let post of posts; let i = index">
            <a [routerLink]="['/','home',post.id]">{{post.title}} </a>
            <span class="index">#{{i}}</span>
          </li>
        </ul>
      </div>

    </div>
  </div>

  <div class="panel">
    <h3>Выберите режим пользователя</h3>
    <button mat-button (click)="toggleAccount(account.position)" [ngClass]="usedAccount == account.position ? 'active' : ''" *ngFor="let account of accounts">{{account.name}}</button>
  </div>

</div>
