$golden: #F4D03F;
$silver: #AAB7B8;
$bronse: #DC7633;

.post {
  display: inline-block;
  width: 300px;
  padding: 5px 20px;
  height: 250px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 10px;
  color: black;
}

.admin {
  border: 5px solid $golden;
}
.user {
  border: 5px solid $silver;
}
.guest {
  border: 5px solid $bronse;
}
